/* Секция contacts-request__section */

.contacts-request__section {
    @media (max-width: 960px) {
        height: 364px;
        background-color: black;
    }
}
 
.contacts-request__wrapper {
    @media (max-width: 960px) {
        background-color: black;
        width: 92%;
        margin: 0px auto;
    }
}

.check-form {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 4px;
    margin-left: -6px;

    @media (max-width: 960px) {
        margin-top: 27px;
        gap: 4px;
    }

    @media (max-width: 960px) {
        margin-left: 0;
        justify-content: start;
    }

    .checkbox {
        margin-top: -1px;
        width: 18px;
        height: 18px;
        background: #E3B873;
        border: .5em solid #FFEB3B;
    }

    .check-label {
        font-weight: 400;
        font-size: 14px;

        @media (max-width: 960px) {
            color: #FFFFFF;
        }

        &::before {
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            content: "";
            top: 50%;
            left: 0;
            width: 18px;
            height: 18px;
            background-color: #e3b873;
            border-radius: 1px;
        }

        &::after {
            content: url(../img/mark.svg);
            top: 45%;
            left: 4.5px;
            opacity: 0;
        }
    }
}

.contacts-request__form {
    display: flex;
    justify-content: center;
    margin-top: 78px;
    gap: 29px;

    @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}

.form-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 17px;
    margin-left: -17px;

    .form-row {
        .form-group {
            display: flex;
            flex-direction: column-reverse;
            padding: 0 20px;

            @media (max-width: 960px) {
                padding: 0;
            }

            .input {
                margin-top: -3px;
                margin-left: -3px;
                height: 22px;
                width: 231px;
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                outline: 0;
                border: 0;
                border-bottom: 1px solid #3636364D;

                @media (max-width: 960px) {
                    margin-top: 0;
                    width: 100%;
                    background-color: transparent;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    padding-bottom: 5px;

                    .input::placeholder {
                        color: #FFFFFF;
                    }
                }
            }

            .label {
                margin-top: 1px;
                font-weight: 400;
                font-size: 13px;
                line-height: 21px;
                color: rgba(54, 54, 54, 0.5);

                @media (max-width: 960px) {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }

    @media (max-width: 960px) {
        flex-direction: column;
        margin-left: 0;
        margin-top: 73px;
        gap: 56px;
    }
}

.form-btn {
    height: 51px;
    width: 200px;
    background: #E3B873;
    transition: .2s ease;
    border: 0px;

    font-weight: 400;
    font-size: 13px;
    line-height: 27px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    @media (max-width: 960px) {
        display: none;
    }

    &:hover {
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    }
}

.mobile-form-btn {
    display: none;

    @media (max-width: 960px) {
        display: block;
        margin: 0 auto;
        margin-top: 61px;
        width: 100%;
        border: 0;
        height: 51px;
        text-transform: uppercase;

        background: #E3B873;
        color: #FFFFFF;
    }
}