/* секция отзывов */
.review-page {
    margin-top: 69px;
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    overflow: hidden;

    @media (max-width: 1050px) {
        height: 1900px;
    }
}

.review-page__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    h1 {
        font-size: 20px;
        line-height: 28px;
    }
    .review-page__heading-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        gap: 11px;
        margin-top: -6px;
    }
}
.review-page__wrapper {
    display: flex;
    justify-content: center;
    gap: 54px;
    @media (max-width: 1280px) {
        gap: 8px;
    }
    @media (max-width: 1060px) {
    gap: 80px;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    }
}

.review-page__first-review, .review-page__second-review, .review-page__third-review {
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    .review-title {
        display: flex;
        margin-top: 46px;
        margin-left: 18px;
        .review-icon {
            border-radius: 50%;
        }
        h2 {
            text-transform: none;
            margin-left: 23px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
        }
    }
    .review-content {
        margin-top: 19px;
        margin-left: 17px;
        gap: 10px;
        p {
            margin: 5px 0;
            color: #959595;
        }
    }
    .review-page__deadlines-block {
        display: flex;
        justify-content: space-around;
        height: 54px;
        width: 293.75px;
        margin-top: 66px;
    
        font-size: 11px;
        background: #E3B873;
        color: #FFFFFF;
        .area {
            padding: 16px 16px 16px;
            display: flex;
            align-self: center;
            justify-content: space-between;
        
            font-size: 11px;
            border-right: solid 1px #fff;
            img {
                margin-right: 14px;
            }
        }
        .deadlines {
            display: flex;
            justify-content: space-between;
            align-self: center;
            font-size: 11px;
            line-height: 24px;
            padding: 10px 9px 9px;
            margin-right: 12px;
            img {
                margin-right: 14px;
            }
        }
    }
}
.city-background-container {
    display: flex;
    justify-content: center;
    margin-top: -363px;
    .city-background {
        transform: scale(-1, 1);
        z-index: -1;
        width: 100%;
    }
    @media (min-width: 1920px) {
        margin-top: -600px;
    }
    @media (min-width: 1440px) {
        margin-top: -400px;
    }
    @media (max-width: 1440px) {
        margin-top: -300px;
    }
    @media (min-width: 1600px) {
        margin-top: -500px;
    }
    @media (max-width: 1060px) {
        position: absolute;
        visibility: hidden;
    }
}