@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: #131313;
  height: 83px;
  z-index: 100;
}
@media (max-width: 960px) {
  .header {
    position: relative;
  }
}
@media (max-width: 900px) {
  .header {
    height: 57px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 37px;
  width: 1496px;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .header__wrapper {
    flex-grow: 0;
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
  }
}

.logo {
  color: #E3B873;
}

.header__nav-block {
  display: flex;
  max-width: 555px;
}
.header__nav-block .header__nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 55px;
  line-height: 1;
}
.header__nav-block .header__nav-items .nav-item {
  text-decoration: none;
  color: #FFFFFF;
}
.header__nav-block .header__nav-items .nav-item:hover {
  transition: 0.5s;
  color: #E3B873;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .header__nav-block .header__nav-items {
    gap: 48px;
  }
}
@media (max-width: 1080px) {
  .header__nav-block .header__nav-items {
    gap: 30px;
  }
}
@media (max-width: 980px) {
  .header__nav-block .header__nav-items {
    gap: 25px;
  }
}
@media (max-width: 800px) {
  .header__nav-block .header__nav-items {
    display: none;
  }
}
.header__nav-block .header__nav-items li {
  line-height: 0;
}

/* Навигация */
.header__call-block {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header__call-block .call-block__number {
  text-align: right;
  text-decoration-line: underline;
  color: #E3B873;
  cursor: pointer;
}
.header__call-block .call-block__number:hover {
  transition: 0.2s;
  color: #fff;
}
.header__call-block .call-block__button {
  width: 162px;
  height: 37px;
  padding: 13px 33px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 1px solid transparent;
  margin: 20px 0 24px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  line-height: 15px;
  font-size: 11px;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .header__call-block .call-block__button {
    display: none;
  }
}

/* Секция Intro */
.intro {
  height: 707px;
}
.intro .intro__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .intro {
    height: 707px;
  }
}

.intro__title {
  position: absolute;
  z-index: 2;
  height: 305px;
  margin-top: 153px;
  margin-left: 134px;
}
@media (max-width: 960px) {
  .intro__title {
    width: initial;
    margin-left: 10%;
  }
}
@media (max-width: 650px) {
  .intro__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    width: 100%;
  }
}

.intro__title-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.intro__title-container .title-container__heading {
  font-size: 40px;
  line-height: 53px;
  text-align: start;
  color: #FFFFFF;
}
.intro__title-container .title-container__heading .intro-cityname {
  color: #E3B873;
}
@media (max-width: 650px) {
  .intro__title-container .title-container__heading {
    font-size: 23px;
    line-height: 132.83%;
    max-width: 346px;
    text-align: start;
    padding-left: 18px;
  }
}
@media (max-width: 650px) {
  .intro__title-container {
    width: 100%;
    padding: 0px 0px;
  }
}
.intro__title-container .title-container__text {
  width: 505px;
  height: 89px;
  margin-top: -15px;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}
@media (max-width: 650px) {
  .intro__title-container .title-container__text {
    display: none;
  }
}
.intro__title-container .title-container__text-mobile {
  display: none;
}
@media (max-width: 650px) {
  .intro__title-container .title-container__text-mobile {
    display: block;
    max-width: 346px;
    height: 89px;
    text-align: start;
    padding-left: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135.84%;
    margin: 0;
    color: #FFFFFF;
  }
}

.intro-buttons {
  display: flex;
  margin-top: 45px;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.intro-buttons .intro-button-cost {
  width: 207px;
  height: 51px;
  background: rgba(227, 184, 115, 0);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}
.intro-buttons .intro-button-cost:hover {
  transition: 0.5s;
  background: #E3B873;
}
@media (max-width: 650px) {
  .intro-buttons .intro-button-cost {
    width: 100%;
  }
}
.intro-buttons .intro-button-submit-1 {
  width: 207px;
  height: 51px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}
.intro-buttons .intro-button-submit-1:hover {
  transition: 0.5s;
  background: #E3B873;
}
@media (max-width: 650px) {
  .intro-buttons .intro-button-submit-1 {
    display: none;
  }
}
.intro-buttons .intro-button-submit-2 {
  display: none;
}
@media (max-width: 650px) {
  .intro-buttons .intro-button-submit-2 {
    display: block;
    width: 100%;
    height: 51px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }
}
@media (max-width: 650px) {
  .intro-buttons {
    flex-direction: column;
    width: 92%;
    gap: 27px;
    margin-top: 34px;
  }
}

.intro__background-image {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.intro__background-image .intro-shadow {
  position: absolute;
  width: 100%;
  height: 707px;
}
.intro__background-image .intro-background {
  height: 707px;
  width: 100%;
}

/* Секция Page */
.page {
  width: 100%;
  background: #131313;
  position: relative;
  z-index: 1;
}
@media (max-width: 650px) {
  .page {
    margin-top: -231px;
  }
}

.page__wrapper {
  height: 1074px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 1280px) {
  .page__wrapper {
    width: 95%;
    margin: 0 auto;
    gap: 5px;
  }
}
@media (max-width: 960px) {
  .page__wrapper {
    height: 100%;
    padding: 0;
    margin: 0 auto;
    width: 92%;
  }
}
.page__wrapper .page__container-options {
  margin: 58px 0;
}
.page__wrapper .page__container-options .option-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5px;
  padding: 0px;
  list-style: none;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.page__wrapper .page__container-options .option-list .option-active {
  color: #E3B873;
  border-bottom: 2px solid #E3B873;
  padding-bottom: 7px;
  transition: 0.5s;
}
.page__wrapper .page__container-options .option-list button {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border: 0;
  text-align: start;
  padding: 0;
  font-size: 14px;
  font-family: "Yeseva One";
  line-height: 19px;
  text-transform: uppercase;
}
.page__wrapper .page__container-options .option-list span:hover {
  color: #E3B873;
}
.page__wrapper .page__container-options .page__slider {
  display: flex;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.6117647059);
  margin-top: 27px;
  max-height: 482px;
  width: 724px;
}
.page__wrapper .page__container-options .page__slider .interior-image {
  width: 100%;
  background-size: cover;
}
@media (max-width: 1280px) {
  .page__wrapper .page__container-options .page__slider {
    width: 572px;
    height: 699px;
  }
}
@media (max-width: 1080px) {
  .page__wrapper .page__container-options .page__slider {
    width: 572px;
    height: 699px;
  }
}
@media (max-width: 960px) {
  .page__wrapper .page__container-options {
    display: none;
  }
}

.page__container {
  margin-top: 140px;
}
@media (max-width: 960px) {
  .page__container {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .page__container {
    margin-top: -29px;
  }
}

.page__select {
  width: 205px;
  margin: 65px 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__select .page__select-points {
  display: flex;
  justify-content: space-around;
}
.page__select .page__select-points .select-arr-left {
  background-image: url(../img/arrow-left.svg);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: content-box;
  padding: 0;
  margin-right: 15px;
  width: 42px;
  height: 14px;
  outline: none;
}
.page__select .page__select-points .select-arr-left:hover {
  transition: 0.2s ease;
  background-color: rgba(255, 255, 255, 0.2274509804);
  box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 0.2274509804);
  border-radius: 30%;
}
.page__select .page__select-points .select-arr-right {
  background-image: url(../img/arrow-right.svg);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: content-box;
  padding: 0;
  margin-left: 15px;
  width: 42px;
  height: 14px;
  outline: none;
}
.page__select .page__select-points .select-arr-right:hover {
  transition: 0.2s ease;
  background-color: rgba(255, 255, 255, 0.2274509804);
  box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 0.2274509804);
  border-radius: 30%;
}
.page__select .page__select-points .toggle-container {
  display: flex;
}
.page__select .page__select-points .toggle-container .toggle-active {
  border: none;
  margin: 0 9px;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  outline: none;
  transition: 0.3s;
}
.page__select .page__select-points .toggle-container .toggle {
  border: none;
  margin: 0 9px;
  width: 10px;
  height: 10px;
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  outline: none;
  transition: 0.3s;
}
.page__select .page__select-points .toggle-container .toggle:hover {
  background-color: #FFFFFF;
}
@media (max-width: 960px) {
  .page__select {
    display: none;
  }
}

.page__mobile-container {
  display: none;
}
@media (max-width: 960px) {
  .page__mobile-container {
    display: block;
    margin: 0 auto;
  }
}
.page__mobile-container .mobile-container_flip {
  display: none;
}
.page__mobile-container .mobile-container_flip .mobile-container_flip-image .completed-project-img {
  display: none;
}
@media (max-width: 960px) {
  .page__mobile-container .mobile-container_flip .mobile-container_flip-image .completed-project-img {
    display: block;
    width: 100%;
    position: relative;
  }
}
@media (max-width: 960px) {
  .page__mobile-container .mobile-container_flip {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 10;
    width: 100%;
  }
}
.page__mobile-container .mobile-container_buttons {
  position: absolute;
  display: flex;
  align-items: center;
  width: 90%;
  height: 420px;
  justify-content: space-between;
  margin: 0 6%;
  width: 88%;
}
@media (max-width: 1280px) {
  .page__mobile-container .mobile-container_buttons .button-flip__right {
    background-image: url(../img/flip-right.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  .page__mobile-container .mobile-container_buttons .button-flip__right:hover {
    box-shadow: 0px 0px 20px rgb(255, 230, 0);
    transition: 0.1s ease;
  }
}
@media (max-width: 1280px) {
  .page__mobile-container .mobile-container_buttons .button-flip__left {
    background-image: url(../img/flip-left.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  .page__mobile-container .mobile-container_buttons .button-flip__left:hover {
    box-shadow: 0px 0px 20px rgb(255, 230, 0);
    transition: 0.1s ease;
  }
}
@media (min-width: 830px) {
  .page__mobile-container .mobile-container_buttons {
    width: 78%;
  }
}

.page__container-title {
  max-width: 253px;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  text-align: start;
  color: #E3B873;
  margin: 0;
}
@media (max-width: 960px) {
  .page__container-title {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    line-height: 138.6%;
    max-width: 229px;
  }
}

.page__container-text {
  max-width: 442px;
  height: 86px;
  margin: 23px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}
@media (max-width: 960px) {
  .page__container-text {
    text-align: center;
    margin: 33px auto;
    width: 90%;
    font-size: 11px;
    line-height: 158.48%;
  }
}

.page__characteristics-container {
  width: 380px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 28px 0;
}
.page__characteristics-container .title-elem {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}
.page__characteristics-container .text-elem {
  width: 118px;
  margin: 7px 0;
  min-height: 42px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}
.page__characteristics-container .characteristics-container__city {
  margin-top: 17px;
}
@media (max-width: 960px) {
  .page__characteristics-container .characteristics-container__city {
    margin-top: 13px;
  }
}
.page__characteristics-container .characteristics-container__area {
  margin-top: 13px;
}
.page__characteristics-container .characteristics-container__time,
.page__characteristics-container .characteristics-container__cost {
  margin-top: 26px;
}
@media (max-width: 960px) {
  .page__characteristics-container .characteristics-container__time,
  .page__characteristics-container .characteristics-container__cost {
    margin-top: -14px;
  }
}
@media (max-width: 960px) {
  .page__characteristics-container {
    margin: 23px 0px;
    width: 94%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 100%;
  }
  .page__characteristics-container h2 {
    font-size: 14px;
    line-height: 138.6%;
  }
  .page__characteristics-container p {
    font-size: 11px;
    line-height: 16px;
    text-align: start;
    width: 99px;
    margin-top: 16px;
  }
}

.active {
  background-color: #FFFFFF;
  transition: 0.2s ease;
  opacity: 1;
  animation: fadeInFromNone 0.5s ease;
}

/* Секция video-presentation */
.video-presentation {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: -360px;
}
@media (max-width: 960px) {
  .video-presentation {
    margin-top: 0;
    background-color: black;
  }
}

@media (max-width: 960px) {
  .video-presentation__wrapper {
    padding-top: 57px;
  }
}

.video-presentation__decor-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
}
@media (max-width: 1280px) {
  .video-presentation__decor-icons {
    gap: 17px;
  }
}
.video-presentation__decor-icons .decor-icons__title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
@media (max-width: 960px) {
  .video-presentation__decor-icons .decor-icons__title {
    font-size: 22px;
    line-height: 138.6%;
  }
}
.video-presentation__decor-icons .decor-icons-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 8px;
}

.decor-icons-images__player {
  text-align: center;
  margin-top: 32px;
}
.decor-icons-images__player .play-button__container {
  z-index: 100;
  position: absolute;
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decor-icons-images__player .play-button__container .play-button {
  background-image: url(../img/play-button.png);
  position: absolute;
  z-index: 3;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
}
@media (max-width: 960px) {
  .decor-icons-images__player .play-button__container .play-button {
    background-image: url(../img/play-button-mobile.svg);
  }
} 
@media (max-width: 960px) {
  .decor-icons-images__player .play-button__container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.decor-icons-images__player .shadow-image {
  position: absolute;
  z-index: 2;
}
@media (max-width: 960px) {
  .decor-icons-images__player .shadow-image {
    width: 340px;
    height: 207px;
  }
}
.decor-icons-images__player .renovation-image {
  z-index: 0;
}
@media (max-width: 960px) {
  .decor-icons-images__player .renovation-image {
    width: 340px;
    height: 207px;
  }
}

.video-presentation__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  margin-top: 36px;
  color: #363636;
}
@media (max-width: 960px) {
  .video-presentation__text {
    margin-top: 34px;
    font-size: 11px;
    line-height: 169.8%;
    color: #FFFFFF;
  }
}
@media (max-width: 960px) {
  .video-presentation__text .text-description {
    display: none;
  }
}
.video-presentation__text .text-description__mobile {
  display: none;
}
@media (max-width: 960px) {
  .video-presentation__text .text-description__mobile {
    display: block;
    margin-bottom: 0;
  }
}

@media (max-width: 960px) {
  .renovation-mobile img {
    width: 92%;
  }
}
/* Секция contacts-request__section */
@media (max-width: 960px) {
  .contacts-request__section {
    height: 364px;
    background-color: black;
  }
}

@media (max-width: 960px) {
  .contacts-request__wrapper {
    background-color: black;
    width: 92%;
    margin: 0px auto;
  }
}

.check-form {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  gap: 4px;
  margin-left: -6px;
}
@media (max-width: 960px) {
  .check-form {
    margin-top: 27px;
    gap: 4px;
  }
}
@media (max-width: 960px) {
  .check-form {
    margin-left: 0;
    justify-content: start;
  }
}
.check-form .checkbox {
  margin-top: -1px;
  width: 18px;
  height: 18px;
  background: #E3B873;
  border: 0.5em solid #FFEB3B;
}
.check-form .check-label {
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 960px) {
  .check-form .check-label {
    color: #FFFFFF;
  }
}
.check-form .check-label::before {
  transform: translateY(-50%);
  content: "";
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #e3b873;
  border-radius: 1px;
}
.check-form .check-label::after {
  content: url(../img/mark.svg);
  top: 45%;
  left: 4.5px;
  opacity: 0;
}

.contacts-request__form {
  display: flex;
  justify-content: center;
  margin-top: 78px;
  gap: 29px;
}
@media (max-width: 960px) {
  .contacts-request__form {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

.form-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 17px;
  margin-left: -17px;
}
.form-wrapper .form-row .form-group {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
}
@media (max-width: 960px) {
  .form-wrapper .form-row .form-group {
    padding: 0;
  }
}
.form-wrapper .form-row .form-group .input {
  margin-top: -3px;
  margin-left: -3px;
  height: 22px;
  width: 231px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3019607843);
}
@media (max-width: 960px) {
  .form-wrapper .form-row .form-group .input {
    margin-top: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
  }
  .form-wrapper .form-row .form-group .input .input::-moz-placeholder {
    color: #FFFFFF;
  }
  .form-wrapper .form-row .form-group .input .input::placeholder {
    color: #FFFFFF;
  }
}
.form-wrapper .form-row .form-group .label {
  margin-top: 1px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
@media (max-width: 960px) {
  .form-wrapper .form-row .form-group .label {
    color: rgba(255, 255, 255, 0.5);
  }
}
@media (max-width: 960px) {
  .form-wrapper {
    flex-direction: column;
    margin-left: 0;
    margin-top: 73px;
    gap: 56px;
  }
}

.form-btn {
  height: 51px;
  width: 200px;
  background: #E3B873;
  transition: 0.2s ease;
  border: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 960px) {
  .form-btn {
    display: none;
  }
}
.form-btn:hover {
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.mobile-form-btn {
  display: none;
}
@media (max-width: 960px) {
  .mobile-form-btn {
    display: block;
    margin: 0 auto;
    margin-top: 61px;
    width: 100%;
    border: 0;
    height: 51px;
    text-transform: uppercase;
    background: #E3B873;
    color: #FFFFFF;
  }
}

/* Секция repair-types__section */
.repair-types__section {
  text-align: center;
  margin-top: 140px;
  transition: ease all 0.5s;
}
@media (max-width: 1280px) {
  .repair-types__section {
    margin-top: 81px;
  }
}

.repair-types__tools-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 11px;
  margin-top: -3px;
}

.repair-types__services-examples {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 31px;
}
@media (max-width: 1280px) {
  .repair-types__services-examples {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    gap: 175px;
  }
}
@media (max-width: 960px) {
  .repair-types__services-examples {
    gap: 77px;
  }
}
@media (max-width: 650px) {
  .repair-types__services-examples {
    gap: 77px;
  }
}

@media (max-width: 1280px) {
  .repair-types__services-examples-item img {
    width: 340px;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .repair-types__services-examples-item img {
    width: 340px;
    margin: 0 auto;
  }
}

.services-examples__description {
  position: relative;
  z-index: 10;
  text-align: start;
  width: 330px;
  height: 286px;
  margin-top: -163px;
  margin-left: 30px;
  flex-direction: column;
  background-color: #FFFFFF;
}
@media (max-width: 1280px) {
  .services-examples__description {
    width: 270px;
    height: 241px;
    margin-left: 0;
    margin-top: -145px;
  }
}
@media (max-width: 650px) {
  .services-examples__description {
    width: 270px;
    height: 241px;
    margin-left: 0;
    padding-top: 1px;
    margin-top: -150px;
  }
}

.services-examples__container {
  margin: 23px 0 0 34px;
  padding-top: 12px;
}
.services-examples__container .services-examples__container-title {
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  text-transform: none;
}
@media (max-width: 1280px) {
  .services-examples__container .services-examples__container-title {
    font-size: 15px;
    line-height: 138.6%;
  }
}
.services-examples__container .services-examples__container-list {
  text-align: start;
  padding-left: 15px;
  margin-top: -10px;
  margin-left: -3px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}
@media (max-width: 1280px) {
  .services-examples__container .services-examples__container-list {
    line-height: 169.8%;
    margin-top: -3px;
    margin-left: -9px;
  }
}
.services-examples__container .services-examples__container-list::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px;
  text-align: start;
  -moz-text-align-last: start;
       text-align-last: start;
}

.services-listprice {
  margin-top: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0;
  width: 228px;
  height: 54px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
@media (max-width: 1280px) {
  .services-listprice {
    width: 190px;
    height: 40px;
    font-size: 15px;
    line-height: 138.6%;
  }
}

/* Секция specification */
.specification {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin-top: 148px;
  margin-left: 29px;
}
@media (max-width: 1280px) {
  .specification {
    display: none;
  }
}

.specification__container .specification__list-info {
  position: absolute;
  height: 473.62px;
  margin-top: 111px;
  margin-left: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.specification__container .specification__list-info .list-item {
  display: flex;
  align-items: center;
  margin-bottom: 84px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.specification__container .specification__list-info .list-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #E3B873;
  border-radius: 20rem;
  border: 8px solid #fff;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 25px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  margin-right: 9px;
}

.specification__form-container {
  margin-right: 128px;
  margin-top: 110px;
}

.specification__form-wrapper {
  position: absolute;
}
.specification__form-wrapper .specification__form-title {
  max-width: 297px;
  max-height: 47px;
  margin-top: 28px;
  margin-left: 105px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
}
.specification__form-wrapper .specification__form .characteristics-form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-left: 49px;
  gap: 45px;
}
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-name,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-email,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-number {
  display: flex;
  flex-direction: column-reverse;
}
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-name .input-decor,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-email .input-decor,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-number .input-decor {
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1490196078);
  height: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-name .input-decor::-moz-placeholder, .specification__form-wrapper .specification__form .characteristics-form-wrapper .form-email .input-decor::-moz-placeholder, .specification__form-wrapper .specification__form .characteristics-form-wrapper .form-number .input-decor::-moz-placeholder {
  color: #fff;
}
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-name .input-decor::placeholder,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-email .input-decor::placeholder,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-number .input-decor::placeholder {
  color: #fff;
}
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-name .input-decor:focus,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-email .input-decor:focus,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-number .input-decor:focus {
  font-size: 17px;
}
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-name .label-decor,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-email .label-decor,
.specification__form-wrapper .specification__form .characteristics-form-wrapper .form-number .label-decor {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.specification__form-wrapper .specification__form .specification__form-check-submit {
  margin-left: 46px;
  margin-top: 16px;
  color: #FFFFFF;
}
.specification__form-wrapper .specification__form .specification__form-check-submit .check-box {
  width: 18px;
  height: 18px;
  background: #E3B873;
  border-radius: 1px;
}
.specification__form-wrapper .specification__form .submit-measure {
  margin-top: 36px;
  margin-left: 245px;
  height: 51px;
  width: 213px;
  background: #E3B873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  transition: 0.2s ease;
  border: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.specification__form-background {
  width: 506px;
  height: 509px;
  border-radius: 10px;
  background-color: #131313;
}

.piggy_bank {
  display: flex;
  margin-top: 27px;
  margin-left: 12px;
}
.piggy_bank p {
  margin-top: 24px;
  margin-left: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/* секция styles */
.styles {
  display: flex;
  display: flex;
  justify-content: center;
  gap: 610px;
  margin-top: 211px;
}
@media (max-width: 1280px) {
  .styles {
    display: none;
  }
}
.styles .styles__container-list {
  margin-left: 98px;
}
.styles .styles__container-list .container-list__title {
  position: absolute;
  z-index: 3;
  margin-top: 135px;
  margin-left: 128px;
  text-align: start;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}
.styles .styles__container-list .container-list__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 246px;
  margin-left: 128px;
  gap: 12px;
  z-index: 3;
}
.styles .styles__container-list .container-list__content .content-item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  z-index: 3;
  text-decoration: none;
  color: #FFFFFF;
}
.styles .styles__container-list .container-list__content .content-item:hover {
  border-bottom: solid 1px #E3B873;
  transition: 0.5s;
  color: #E3B873;
}
.styles .styles__container-images {
  display: flex;
  flex-direction: row;
  margin-right: 222px;
  gap: 43px;
  z-index: 3;
}
.styles .styles__container-images .styles__container-img-1 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: -40px;
}
.styles .styles__container-images .styles__container-img-2 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: -113px;
}
.styles .styles__container-background {
  position: absolute;
  width: 100%;
}
.styles .styles__container-background .image-background {
  position: absolute;
  max-height: 864px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Секция mobile-styles */
.mobile-styles {
  display: none;
}
@media (max-width: 1280px) {
  .mobile-styles {
    display: block;
    text-align: center;
    width: 92%;
    margin: 75px auto;
    margin-bottom: 0;
  }
}
.mobile-styles .mobile-styles__wrapper h2 {
  width: 340px;
  text-align: center;
  font-size: 22px;
  line-height: 138.6%;
  color: #E3B873;
}
@media (max-width: 1280px) {
  .mobile-styles .mobile-styles__wrapper h2 {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .mobile-styles .mobile-styles__wrapper .mobile-styles__img .mobile-styles__buttons {
    position: absolute;
    display: flex;
    align-items: center;
    width: 90%;
    left: 0;
    justify-content: space-between;
    margin: 33% 5%;
  }
}
@media (max-width: 1280px) {
  .mobile-styles .mobile-styles__wrapper .mobile-styles__img .mobile-styles__buttons .button-flip__right {
    background-image: url(../img/flip-right.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  .mobile-styles .mobile-styles__wrapper .mobile-styles__img .mobile-styles__buttons .button-flip__right:hover {
    box-shadow: 0px 0px 20px rgb(255, 230, 0);
    transition: 0.1s ease;
  }
}
@media (max-width: 1280px) {
  .mobile-styles .mobile-styles__wrapper .mobile-styles__img .mobile-styles__buttons .button-flip__left {
    background-image: url(../img/flip-left.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  .mobile-styles .mobile-styles__wrapper .mobile-styles__img .mobile-styles__buttons .button-flip__left:hover {
    box-shadow: 0px 0px 20px rgb(255, 230, 0);
    transition: 0.1s ease;
  }
}
@media (max-width: 1280px) {
  .mobile-styles .mobile-styles__wrapper .mobile-styles__img img {
    margin-top: 30px;
    width: 100%;
  }
}

/* секция отзывов */
.review-page {
  margin-top: 69px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 180%;
  overflow: hidden;
}
@media (max-width: 1050px) {
  .review-page {
    height: 1900px;
  }
}

.review-page__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}
.review-page__heading h1 {
  font-size: 20px;
  line-height: 28px;
}
.review-page__heading .review-page__heading-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 11px;
  margin-top: -6px;
}

.review-page__wrapper {
  display: flex;
  justify-content: center;
  gap: 54px;
}
@media (max-width: 1280px) {
  .review-page__wrapper {
    gap: 8px;
  }
}
@media (max-width: 1060px) {
  .review-page__wrapper {
    gap: 80px;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  }
}

.review-page__first-review, .review-page__second-review, .review-page__third-review {
  width: 376px;
  height: 428px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.review-page__first-review .review-title, .review-page__second-review .review-title, .review-page__third-review .review-title {
  display: flex;
  margin-top: 46px;
  margin-left: 18px;
}
.review-page__first-review .review-title .review-icon, .review-page__second-review .review-title .review-icon, .review-page__third-review .review-title .review-icon {
  border-radius: 50%;
}
.review-page__first-review .review-title h2, .review-page__second-review .review-title h2, .review-page__third-review .review-title h2 {
  text-transform: none;
  margin-left: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.review-page__first-review .review-content, .review-page__second-review .review-content, .review-page__third-review .review-content {
  margin-top: 19px;
  margin-left: 17px;
  gap: 10px;
}
.review-page__first-review .review-content p, .review-page__second-review .review-content p, .review-page__third-review .review-content p {
  margin: 5px 0;
  color: #959595;
}
.review-page__first-review .review-page__deadlines-block, .review-page__second-review .review-page__deadlines-block, .review-page__third-review .review-page__deadlines-block {
  display: flex;
  justify-content: space-around;
  height: 54px;
  width: 293.75px;
  margin-top: 66px;
  font-size: 11px;
  background: #E3B873;
  color: #FFFFFF;
}
.review-page__first-review .review-page__deadlines-block .area, .review-page__second-review .review-page__deadlines-block .area, .review-page__third-review .review-page__deadlines-block .area {
  padding: 16px 16px 16px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 11px;
  border-right: solid 1px #fff;
}
.review-page__first-review .review-page__deadlines-block .area img, .review-page__second-review .review-page__deadlines-block .area img, .review-page__third-review .review-page__deadlines-block .area img {
  margin-right: 14px;
}
.review-page__first-review .review-page__deadlines-block .deadlines, .review-page__second-review .review-page__deadlines-block .deadlines, .review-page__third-review .review-page__deadlines-block .deadlines {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 11px;
  line-height: 24px;
  padding: 10px 9px 9px;
  margin-right: 12px;
}
.review-page__first-review .review-page__deadlines-block .deadlines img, .review-page__second-review .review-page__deadlines-block .deadlines img, .review-page__third-review .review-page__deadlines-block .deadlines img {
  margin-right: 14px;
}

.city-background-container {
  display: flex;
  justify-content: center;
  margin-top: -363px;
}
.city-background-container .city-background {
  transform: scale(-1, 1);
  z-index: -1;
  width: 100%;
}
@media (min-width: 1920px) {
  .city-background-container {
    margin-top: -600px;
  }
}
@media (min-width: 1440px) {
  .city-background-container {
    margin-top: -400px;
  }
}
@media (max-width: 1440px) {
  .city-background-container {
    margin-top: -300px;
  }
}
@media (min-width: 1600px) {
  .city-background-container {
    margin-top: -500px;
  }
}
@media (max-width: 1060px) {
  .city-background-container {
    position: absolute;
    visibility: hidden;
  }
}

/* секция pre-footer */
.pre-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -239px;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 1280px) {
  .pre-footer {
    margin-top: -123px;
    z-index: -1;
    position: relative;
    background-color: #181818;
  }
}

.pre-footer__question-form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 883px;
  margin-left: 31px;
  background-color: #181818;
  z-index: 1;
  border-radius: 10px;
}
@media (max-width: 1280px) {
  .pre-footer__question-form-container {
    width: 92%;
    margin: 0;
    margin-top: 137px;
    flex-wrap: nowrap;
  }
}

h1 {
  text-align: center;
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.pre-footer__question-form {
  display: flex;
  width: 520px;
  gap: 48px;
  flex-direction: column;
  justify-content: center;
  margin-top: 29px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .pre-footer__question-form {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    margin-top: 33px;
    gap: 63px;
  }
}

.question-first {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .question-first {
    flex-direction: column;
    width: 100%;
    gap: 62px;
  }
}

.name-row-question,
.phone-row-question {
  width: 45%;
}
.name-row-question .form-group-question,
.phone-row-question .form-group-question {
  display: flex;
  padding-bottom: 9px;
  flex-direction: column-reverse;
}
.name-row-question .form-group-question .input-question,
.phone-row-question .form-group-question .input-question {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0;
  color: #FFFFFF;
  font-size: 17px;
}
.name-row-question .form-group-question .input-question::-moz-placeholder, .phone-row-question .form-group-question .input-question::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.name-row-question .form-group-question .input-question::placeholder,
.phone-row-question .form-group-question .input-question::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.name-row-question .form-group-question .input-question::-moz-placeholder:focus, .phone-row-question .form-group-question .input-question::-moz-placeholder:focus {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.name-row-question .form-group-question .input-question::placeholder:focus,
.phone-row-question .form-group-question .input-question::placeholder:focus {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.name-row-question .form-group-question .input-question:focus::-webkit-input-placeholder,
.phone-row-question .form-group-question .input-question:focus::-webkit-input-placeholder {
  color: transparent;
}
.name-row-question .form-group-question .label-question,
.phone-row-question .form-group-question .label-question {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1280px) {
  .name-row-question,
  .phone-row-question {
    width: 100%;
  }
}

.question-second .form-group-question {
  display: flex;
  padding-bottom: 9px;
  flex-direction: column-reverse;
}
.question-second .form-group-question .input-question {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0;
  color: #FFFFFF;
  font-size: 17px;
}
.question-second .form-group-question .input-question::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.question-second .form-group-question .input-question::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.question-second .form-group-question .input-question::-moz-placeholder:focus {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.question-second .form-group-question .input-question::placeholder:focus {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.question-second .form-group-question .input-question:focus::-webkit-input-placeholder {
  color: transparent;
}
.question-second .form-group-question .label-question {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1280px) {
  .question-second {
    width: 100%;
  }
}

.pre-footer__checkbox-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}
@media (max-width: 960px) {
  .pre-footer__checkbox-container {
    gap: 0px;
    margin-top: 21px;
    align-items: start;
  }
}

.checkbox-question .checkbox {
  margin-top: -1px;
  width: 18px;
  height: 18px;
  background: #E3B873;
  border: 0.5em solid #FFEB3B;
}
.checkbox-question .check-question {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  color: #FFFFFF;
}

.form-btn {
  height: 51px;
  width: 200px;
  background: #E3B873;
  transition: 0.2s ease;
  border: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 960px) {
  .form-btn {
    display: none;
  }
}
.form-btn:hover {
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.mobile-form-btn {
  display: none;
}
@media (max-width: 960px) {
  .mobile-form-btn {
    display: block;
    margin: 0 auto;
    margin-top: 61px;
    width: 100%;
    border: 0;
    height: 51px;
    text-transform: uppercase;
    background: #E3B873;
    color: #FFFFFF;
  }
}

.pre-footer__location-backround_mobile {
  display: none;
}
@media (max-width: 960px) {
  .pre-footer__location-backround_mobile {
    display: block;
    width: 92%;
    margin-top: 46px;
  }
  .pre-footer__location-backround_mobile img {
    width: 100%;
    text-align: center;
  }
}

.pre-footer__location {
  max-height: 200px;
  width: 100%;
}

.pre-footer__title {
  position: relative;
  margin-top: 49px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  z-index: 1;
}
@media (max-width: 960px) {
  .pre-footer__title {
    font-size: 18px;
    line-height: 138.6%;
  }
}
@media (max-width: 650px) {
  .pre-footer__title {
    display: none;
  }
}

.pre-footer__title-mobile {
  display: none;
}
@media (max-width: 650px) {
  .pre-footer__title-mobile {
    display: block;
    text-align: center;
    margin: 22px auto;
    font-size: 18px;
    line-height: 138.6%;
    color: #E3B873;
  }
}

.pre-footer__location-icons {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
  align-items: center;
  gap: 15px;
}
.pre-footer__location-icons .img-message {
  background-image: url(../img/message.svg);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
@media (max-width: 650px) {
  .pre-footer__location-icons .img-message {
    width: 39px;
    height: 39px;
  }
}
.pre-footer__location-icons .img-instagram {
  background-image: url(../img/instagram.svg);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
@media (max-width: 650px) {
  .pre-footer__location-icons .img-instagram {
    width: 39px;
    height: 39px;
  }
}

.shadow-location {
  position: absolute;
  width: 100%;
  max-height: 954px;
  margin-top: 225px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background: center;
}
@media (max-width: 1450px) {
  .shadow-location {
    margin-top: 265px;
    height: 938px;
    margin-top: 247px;
  }
}

.pre-footer__background {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 66px;
  margin-top: 70px;
}
.pre-footer__background .pre-footer__background-map {
  width: 925px;
  height: 465px;
}
@media (max-width: 960px) {
  .pre-footer__background {
    display: none;
  }
}

.location-map {
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  margin-top: 50px;
  background-size: 100%;
  background-position: center;
}
@media (max-width: 960px) {
  .location-map {
    display: none;
  }
}

.footer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #131313;
  height: 133px;
}
@media (max-width: 960px) {
  .footer {
    position: relative;
  }
}
@media (max-width: 1280px) {
  .footer {
    height: 57px;
  }
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 133px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .footer-wrapper {
    flex-grow: 0;
    width: 100%;
    height: 10px;
    padding: 0 15px;
    justify-content: space-between;
  }
}

.logo {
  color: #E3B873;
}

.footer__nav-block {
  display: flex;
  max-width: 555px;
}
.footer__nav-block .footer__nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 55px;
  line-height: 1;
}
.footer__nav-block .footer__nav-items .nav-item {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__nav-block .footer__nav-items .nav-item:hover {
  transition: 0.5s;
  color: #E3B873;
}
@media (max-width: 1280px) {
  .footer__nav-block .footer__nav-items {
    gap: 30px;
  }
}
@media (max-width: 1280px) {
  .footer__nav-block .footer__nav-items {
    gap: 15px;
  }
}
@media (max-width: 1280px) {
  .footer__nav-block .footer__nav-items {
    display: none;
  }
}
.footer__nav-block .footer__nav-items li {
  line-height: 0;
}

/* Навигация */
.footer__call-block {
  display: flex;
  align-items: center;
  gap: 45px;
}
.footer__call-block .call-block__number {
  text-align: right;
  text-decoration-line: underline;
  color: #E3B873;
  cursor: pointer;
}
.footer__call-block .call-block__number:hover {
  transition: 0.2s;
  color: #fff;
}
.footer__call-block .call-block__button {
  width: 162px;
  height: 37px;
  padding: 13px 33px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 1px solid transparent;
  margin: 20px 0 24px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  line-height: 15px;
  font-size: 11px;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .footer__call-block {
    display: none;
  }
}

html,
body {
  margin: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

h1,
h2 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
  opacity: 0;
  background-color: #FFFFFF;
}

.error {
  color: crimson;
  font-size: 14px;
}

.error-agreement {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: crimson;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}/*# sourceMappingURL=index.css.map */