@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/intro";
@import "./blocks/page-slider";
@import "./blocks/video-presentation";
@import "./blocks/contacts-request";
@import "./blocks/repair-types";
@import "./blocks/specification";
@import "./blocks/styles";
@import "./blocks/mobile-styles";
@import "./blocks/review-page";
@import "./blocks/pre-footer";
@import "./blocks/footer";

// общие стили

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;

    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Nunito Sans';

}

h1,
h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
    opacity: 0;
    background-color: #FFFFFF;
}

.error {
    color: crimson;
    font-size: 14px;
}

.error-agreement {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: crimson;
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}